pkgbase = touchegg-music-client
	pkgdesc = Widget for music and volume control, connected to touchegg's daemon
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/MarioJim/touchegg-music-client
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = touchegg
	depends = libpulse
	source = touchegg-music-client-0.1.2.tar.gz::https://github.com/MarioJim/touchegg-music-client/archive/v0.1.2.tar.gz
	sha256sums = 5aaa81aa2d3a906eaf437d8af917b0c7b9527be0f3aa3befb98c3ebd97886d9a

pkgname = touchegg-music-client

